.landscape-format .credits {
	width:95%;
	max-width:95%;
}
.credits {
	
	width:95%;
	max-width:95%;
	
	ul {
		//@include flexbox;
		//@include flex-direction(column);
		margin:0;
		padding:0;
		margin-top:$g-lr-margin * 2;
		width:100%;
		//display:table;
		
		li {
			@include flexbox;
			//@include flexbox;
			//@include flex-direction(row);
			//@include justify-content(space-between);
			//width:50%;
			clear:left;
			width:100%;
			padding-top:.5vw;
			vertical-align:bottom;
			
			@include respond-to(mobile-portrait) {
				padding-bottom:3vw;
				@include flex-direction(column);
				@include justify-content(center);
				@include align-items(center);
			}
			
			h4, h5 {
				vertical-align:bottom;
				display:inline-block;
				width:48%;
				
				@include respond-to(mobile-portrait) {
					width:100%;
					text-align:center;
				}
			}
			
			h4 {
				text-align:right;
				@include flexbox;
				@include justify-content(flex-end);
				@include align-items(flex-end);
				margin-right:1%;
				height:3.5vw;
				
				@include respond-to(mobile-portrait) {
					text-align:center;
					margin-right:0;
					display:block;
					margin-bottom:.2em;
				}
			}
			
			h5 {
				text-align:left;
				margin-left:1%;
				//margin-bottom: -.07em;
				position:relative;
				
				@include respond-to(mobile-portrait) {
					text-align:center;
					margin-left:0;
					margin-bottom:0;
				}
				
				a {
					position:relative;
					
					&:hover {
						
						.url-icon {
							border-color:transparent;
						}
					}
				}
			}
		}
	}
	
}


.landscape-format {
	.credits {
		ul {
			li {
				h4 {
					@include flexbox;
					@include justify-content(flex-end);
					text-align:right;
					height:5.6vh;
				}
			}
		}
	}
}