.top-section {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	
	height:100vh;
	//min-height:800px;
	text-align:center;
	position:relative;
	z-index:3;
	//position:fixed;
	top:0;
	left:0;
	
	@include respond-to(mobile-portrait) {
		min-height:auto;
		height:88vh;
	}
	
	header {
		margin-top:5vw;
	}
	
	h1 {
		font-size:13vw;
		line-height:.95;
		margin-top:-.1em;
		letter-spacing:-.01em !important;
		width:80vw;
		margin:0 auto;
		
		@include respond-to(mobile-portrait) {
			font-size:22vw;
			width:100vw;
			line-height:1;
		}
	}
	
	.collection-callout {
		width:70vw;
		margin:0 auto;
		line-height:1em;
		
		@include respond-to(mobile-portrait) {
			line-height:1.15;
			width:90vw;
		}
	}
	
	.newsletter {
		margin-bottom:5vw;
	}
	
	form {
		input, button {
			@extend %small;
			text-transform:none !important;
			line-height:3.5;
			padding:0 1em;
			
			@include respond-to(mobile-portrait) {
				line-height:10vw;
			}
		}
		
		input {
			text-transform:none;
		}
		
		button {
			margin-left:.25em;
		}
	}	
	
	

}


.top-section.bottom-fixed {
	position:fixed;
	top:0;
	left:0;
	pointer-events:none; 
	z-index:3;
	display:none; 
	@include opacity(0);
}

.top-section.bottom-fixed.show {
	@include flexbox;
}



.landscape-format {
	.top-section {
		
		header {
			margin-top:6vh;
		}
		
		h1 {
			font-size:20vh;
		}
		
		h3 {
			//font-size:1.575vh;
		}
		
		.collection-callout {
			font-size:9vh;
		}
		
		form {
			margin-bottom:6vh;
			
			input, button {
				//line-height:8vh;
				//font-size:2.5vh;
			}
		}
	}
	
}

.scrolling {
	.top-section, .top-section.bottom-fixed {
		pointer-events:none;
	}
}

.autoScroll {
	.top-section, .top-section.bottom-fixed {
		pointer-events:auto;
	}
}