article {
	width:88%;
	margin:0 auto;
	clear:left;
	
	.article-title {
		margin:12vh auto;
	}
	
	@include respond-to(mobile-portrait) {
		width:90%;
	}
}

.landscape-format {
	article {
		max-width:1500px;
	}
}
