button:focus, button:active, button:hover {
	outline:none;
}

.btn, .btn--secondary, .rte .btn--secondary, .rte .btn, .rte .btn--secondary {
	border-radius:0;
}

button {
	font-family:'NeueHaasGroteskDisp_Pro';
}

.button--mute {
	position:fixed;
	top:0;
	right:0;
}

.button--submit {
	border:1px solid $c-white;
	padding:0 .5em;
	
	&:hover {
		background:$c-background;
		border-color:$c-background;
	}
}