@font-face {
	font-family: 'Unica-Medium';
	src: url('fonts/NeueHaasUnicaW01-Medium.eot');
	src: url('fonts/NeueHaasUnicaW01-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/NeueHaasUnicaW01-Medium.woff') format('woff'),
		url('fonts/NeueHaasUnicaW01-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Unica-Regular';
  src: url('fonts/NeueHaasUnicaW01-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/NeueHaasUnicaW01-Regular.woff') format('woff'), url('fonts/NeueHaasUnicaW01-Regular.ttf')  format('truetype'), url('fonts/NeueHaasUnicaW01-Regular.svg#NeueHaasUnicaW01-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'NHB';
	src: url('fonts/NHaasGroteskTXPro-75Bd.eot');
	src: url('fonts/NHaasGroteskTXPro-75Bd.eot?#iefix') format('embedded-opentype'),
		url('fonts/NHaasGroteskTXPro-75Bd.woff') format('woff'),
		url('fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
