%globalText {
	
	font-family:'Unica-Regular', Helvetica, Arial, sans-serif;
	@include font-size($body-font-sizes); 
	@include line-height($body-line-height); 
	color:$c-orange;
	//letter-spacing: -.005em !important;
}



body {
	@extend %globalText;
	-webkit-font-smoothing:antialiased;
	//text-shadow: 0px 0px 2px rgba(0, 0, 3, 0.6);
	
	
}

b, strong {
	font-family:'Unica-Medium'; 
	font-weight:normal !important;
	//text-transform:uppercase;
	//font-size:8%;
	//line-height:0;
	//margin-top:-.2em;
	letter-spacing: .02em !important;
}

h1, h2, h3, h4, h5, h6, select, label, textarea,  time, button {
	@extend %globalText;
	letter-spacing: .002em !important;
	word-spacing:initial;
	
}

p, li, input {
	@include font-size($p-font-sizes); 
	@include line-height($p-line-height); 
}

h1, h2, h3, h4, h5, h6 {
	@include font-size($h1-font-sizes); 
	@include line-height($h1-line-height);
}

h1, h2, h3, h4, h5, h6, a, nav, button {
	
	//text-transform:uppercase;
}



span, time, a {
	word-spacing:initial;
}

a {
	text-decoration:none;
	color:$c-orange;
	
	
	&:hover {
		color:$c-orange;
	}
} 

button {
	background:none;
	border:none;
}

.disable-link {
	pointer-events:none;
}

a, a:active, a:focus, input:focus {
	outline: none !important;
}

::-moz-selection { /* Code for Firefox */
    color: $c-black;
    background: $c-global;
}

::selection {
    color: $c-black;
    background: $c-orange;
}

.arrow, .left-arrow {
	    vertical-align: top;
		line-height:1;
	img {
		line-height:1;
		vertical-align: middle;
		margin-top: -.1em;
		width:16px;
		
		@include respond-to(desktop) {
			width:20px;
		}
	}
}

.up-arrow {
	img {
		@include respond-to(desktop) {
			height:20px;
		}
	}
}

address {
	font-style:normal; 
}

h1, h2, h3, h4, h5, h6, p, input, select {
	font-weight:normal;	
	//color:$c-black;
}

p:hover {
	a {
		color:$c-orange;
	}
}


/* FORM STYLING */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
   color: $c-orange;
   @include opacity(.4);
}

input:-moz-placeholder {
   color: $c-black;
}

input::-moz-placeholder {
   color: $c-black;
}

input:-ms-input-placeholder {
   color: $c-black;
}

input {
	line-height:60px;
}

input[type="checkbox"], .radio-custom {
    opacity: 0;
    position: absolute;   
}

input[type="checkbox"], .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

input[type="checkbox"], .radio-custom-label {
    position: relative;
}

input[type="checkbox"] + label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid $c-orange;
    display: inline-block;
    vertical-align: middle;
    width:12px;
    height:12px;
	margin-left: 14px;
    margin-top: -.15em;
    margin-right: 12px;
    text-align: center;
	
	cursor:copy;
	
	@include respond-to(desktop) {
	    width: 16px;
	    height: 16px;
	    margin-left: 24px;
	    margin-top: -0.2em;
	    margin-right: 20px;
	    text-align: center;
	}
}

input[type="checkbox"]:checked + label:before, input[type="checkbox"]:hover + label:before {
    background: $c-black;
}

input[type="checkbox"]:focus + label, .radio-custom:focus + .radio-custom-label {
  //outline: 1px solid #ddd; /* focus style */
  
}

input[type="submit"] {
	/*
	background:$c-white;
	margin-top:$g-unit*1;
	border:1px solid $c-orange !important;
	
	color:$c-orange;
	text-align:center;
	*/
	background:$c-orange;
	color:$c-white;
	
	line-height:58px;
	
	&:hover {
		background:$c-orange;
		color:$c-white;
	}
}


 
p {

	//margin:0 auto;
	
	//@extend %globalText;
}



hr {
	border:none;
	border-top:1px solid $c-orange;
}


.hide-mobile-portrait {
	
	display:inline-block;
	
	@include respond-to(mobile-portrait) {
		display:none;
	}
}



