%globalText {
	
	font-family:Helvetica, Arial, sans-serif;
	@include font-size($body-font-sizes); 
	@include line-height($body-line-height); 
	color:$c-white;
	//letter-spacing: -.005em !important;
}



body {
	@extend %globalText;
	-webkit-font-smoothing:antialiased;
	//text-shadow: 0px 0px 2px rgba(0, 0, 3, 0.6);
	
	
}

b, strong {
	font-family:'Unica-Medium'; 
	font-weight:normal !important;
	//text-transform:uppercase;
	//font-size:8%;
	//line-height:0;
	//margin-top:-.2em;
	letter-spacing: .02em !important;
}

h1, h2, h3, h4, h5, h6, select, label, textarea,  time, button {
	@extend %globalText;
	letter-spacing: .002em !important;
	word-spacing:initial;
	
}

p, li, input {
	@include font-size($p-font-sizes); 
	@include line-height($p-line-height); 
}

h1, h2, h3, h4, h5, h6 {
	@include font-size($h1-font-sizes); 
	@include line-height($h1-line-height);
}

h1, h2, h3, h4, h5, h6, a, nav, button {
	
	//text-transform:uppercase;
}

p {
	text-align:left;
	
}

span, time, a {
	word-spacing:initial;
}

a {
	text-decoration:none;
	color:$c-white; 
	
	
	&:hover {
		//color:$c-orange;
	}
} 

button {
	background:none;
	border:none;
}

.disable-link {
	pointer-events:none;
}

a, a:active, a:focus, input:focus {
	outline: none !important;
}

::-moz-selection { /* Code for Firefox */
    color: $c-black;
    background: $c-white;
}

::selection {
    color: $c-black;
    background: $c-white
}




address {
	font-style:normal; 
}

h1, h2, h3, h4, h5, h6, p, input, select {
	font-weight:normal;	
	//color:$c-black;
}

h1 {
	font-family:'Anno';
	-webkit-text-stroke: 1px $c-white;
	color:transparent;
}

h2 {
	font-family:'Anno';
	@include font-size($anno-h2-font-sizes); 
	@include line-height($anno-h2-line-height); 
	font-variant-ligatures: normal;
}

h3 {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	letter-spacing:.08em !important;
	@include font-size($eurostile-smaller-body-font-sizes); 
	@include line-height($eurostile-body-line-height); 
	
	span {
		font-size:.75em;
	}
}

h4 {
	font-family:'Eurostile_LT_Pro_Ext_Two';
	text-transform:uppercase;
	@include font-size($eurostile-body-font-sizes); 
	@include line-height($eurostile-body-line-height); 
}

h5 {
	font-family:'Anno';
	@include font-size($anno-body-font-sizes); 
	@include line-height($anno-body-line-height); 
}


p {
	font-family:'Anno';
	@include font-size($anno-body-font-sizes); 
	@include line-height($anno-body-line-height); 
}


/* FORM STYLING */

input {
	font-family:'NeueHaasGroteskDisp_Pro' !important;
	color:$c-white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
   color: $c-white;
}

input:-moz-placeholder {
   color: $c-black;
}

input::-moz-placeholder {
   color: $c-black;
}

input:-ms-input-placeholder {
   color: $c-black;
}


input {
	background:transparent;
	border:1px solid $c-white;
	//@include transition(.2s background);
	//@include transition(.2s border);
}

input:focus, input:hover {
	background:$c-background;
	border-color:$c-background;
}

hr {
	border:none;
	border-top:1px solid $c-orange;
}


.hide-mobile-portrait {
	
	display:inline-block;
	
	@include respond-to(mobile-portrait) {
		display:none;
	}
}

.mobile-portrait-hide {
	@include respond-to(mobile-portrait) {
		display:none;
	}
}

